<form method="post">
    <label for="ticketID" id="ticketID" name="ticketID">Ticket Number</label><br>
    <input type="text" id="ticketID" name="ticketID" value="{{id_number}}" readonly></input><br>
    <label for="description">Ticket Description</label><br>
    <input type="text" id="description" name="description"></input><br>
    <label for="title">Ticket Title</label><br>
    <input type="text" id="title" name="title"></input><br>
    <label for="type">Ticket Type</label><br>
    <input type="text" id="type" name="type"></input><br>
    <label for="worker">Ticket Worker</label><br>
    <input type="text" id="worker" name="worker"></input><br>
    <label for="device">Ticket Device</label><br>
    <input type="text" id="device" name="device"></input><br>
    <label for="client">Ticket Client</label><br>
    <input type="text" id="client" name="client"></input><br>
    <label for="team">Ticket Team</label><br>
    <input type="text" id="team" name="team"></input><br>
    <label for="submit">Form Submit</label><br>
    <input type="submit"></input>
</form>