<!DOCTYPE html>
<html style="background-image: linear-gradient(#005678, #146488, #005678);">
    <head>
        <title>SSTS - {{page_name}}</title>
        <style>
          @import url("../../static/styles.css");
        </style>
        <link rel="icon" type="image/x-icon" href="../../static/favicon.ico">
    </head>
    <body>
      <div class="mainPage">
        <header style="padding: 0.5rem;">
          <h2><a href="/" style="text-decoration: none; color: #FFD700; padding-left: 25px">Super Simple Ticketing System "SSTS" - {{page_name}}</a></h2>
        </header>
        <div class="menuBar">
          <ul>
            <li><a href="/">Return Home</a></li>
            <li><a href="/sp">Service Portal Home</a></li>
            <li><a href="/sp/schedule">Service Portal Scheduler</a></li>
            <li><a href="/">???</a></li>
            <li><a href="/">???</a></li>
            <li><a href="/">???</a></li>
          </ul>
        </div>
        <main>
          <h3 style="padding-left: 10px;">"SSTS" - {{page_name}}</h3>
          <p>Welcome to what is intended to be the scheduler. Will be designed at a later date. This is mainly to see if the functions work.</p>
          <p>This is intended to use GET/POST requests, the templating engine, and more. Will return to this once more eyes can look at it, and once specs can be drawn up.</p>
        </main>
        <div class="adBar">
          <br>
        </div>
        <footer style="color: #FFD700;">
          Copyright Super Simple Ticketing System Team (SSTS) 2024
        </footer>
      </div>
    </body>
</html>
