{% extends "sidebar.html" %}

{% block head %}
    <link rel="stylesheet" href="../../static/css/view_ticket.css" />
{% endblock %}

{% block content %}

  <h1>My Tickets</h1>
  <div id="incident-grid">
		{% for incident in incidents %}
			<div class="incident-card">
				<h2>{{incident.title }}</h2>
				<p>{{ incident.description }}</p>
				<button class="edit-btn" data-id="{{ incident.id }}">Edit</button>
			</div>
		{% endfor %}
	</div>
	
	<div id="edit-modal" style="display:none;">
		<h2>Edit Incident</h2>
		<form>
			<input type="text" id="incident-name" placeholder="Name">
			<input type="text" id="incident-description" placeholder="Description">
			<button id="save-btn">Save</button>
		</form>
	</div>

{% endblock %}

{% block scripts %}
    <script src="../../static/js/view_tickets.js"></script>
{% endblock %}