<!DOCTYPE html>
<html style="background-image: linear-gradient(#005678, #146488, #005678);">
    <head>
        <title>STEP - {{page_name}}</title>
        <style>
          @import url("../static/styles.css");
        </style>
        <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    </head>
    <body>
      <div class="mainPage">
        <header style="padding: 0.5rem;">
          <h2><a href="/" style="text-decoration: none; color: #FFD700; padding-left: 25px">Service Tracker Extended Plus "STEP" - {{page_name}}</a></h2>
        </header>
        <div class="menuBar">
        </div>
        <main>
          <h3 style="padding-left: 10px;">Agent Login to STEP</h3>
          <p>Currently inoperable, intended to use GET/POST and HTML forms to get data out and then have a Python function that will do all the user stuff.</p>
          <p><a href="/">Return Home</a></p>
        </main>
        <div class="adBar">
        </div>
        <footer style="color: #FFD700;">
          Copyright ServiceTrackerExtendedPlus (STEP) 2024
        </footer>
      </div>
    </body>
</html>
