<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="../../static/css/login.css">
</head>
<body>
    <div class="container">
        <h1>Sign up</h1>
        
        <form action="#">
            <label for="username">Username</label>
            <input type="username" id="username" name="username" placeholder="Enter your username">

            <label for="firstname">First Name</label>
            <input type="firstname" id="firstname" name="firstname" placeholder="Enter your first name">

            <label for="lastname">Last Name</label>
            <input type="lastname" id="lastname" name="lastname" placeholder="Enter your last name">

            <label for="phone">Phone Number</label>
            <input type="phone" id="phone" name="phone" placeholder="Enter your phone number">

            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" placeholder="youraddress@email.com">

            <label for="password">Password</label>
            <input type="password" id="pass" name="password" placeholder="Enter your password">

            <label for="password">Confirm Password</label>
            <input type="password" id="confirm_pass" name="password" placeholder="Repeat your password" onkeyup="validate_password()">

            <span id="wrong_pass_alert"></span>

            <button type="submit" id="create"  value="Sign Up">Create account</button>
            
        </form>
    </div>
    <script src="../../static/js/signup.js"></script>
</body>
</html>
