{% extends "sidebar.html" %}

{% block head %}
    <link rel="stylesheet" href="../../static/css/settings.css" />
{% endblock %}

{% block content %}
    <div class="container">
        <nav class="setting-sidebar">
            <h2>Settings</h2>
            <h3>Account</h3>

            <ul>
                <div class="side-tab">
                    <button class="tablinks" onclick="openTab(event, 'profile')" id="defaultOpen">Profile</button>
                    <button class="tablinks" onclick="openTab(event, 'password')">Password</button>
                    <button class="tablinks" onclick="openTab(event, 'appearance')">Appearance</button>
                </div>

            </ul>

        </nav>

        <main>
        <div id="profile" class="tabcontent">
            <h2>Profile</h2>
            <p>Coming soon</p> 
        </div>

        <div id="password" class="tabcontent">
            <h2>Password</h2>
            <p>Coming soon</p>
        </div>

        <div id="appearance" class="tabcontent">
            <h2>Appearance</h2>
            <p>Coming soon</p>
        </div>
        
        </main>
    </div>
    
{% endblock %}

{% block scripts %}
    <script src="../../static/js/settings.js"></script>
{% endblock %}