<!DOCTYPE html>

<head>
    <title>404 Error</title>
    <link rel="stylesheet" type="text/css" href="../static/css/404_error.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Arvo">
</head>

<body>
    <section class="page_404">
        <div class="bg_404">
            <h1 style="text-align: center;" ">404</h1>
        </div>

        <div class="contant_box_404">
            <h3 class="h2">
                Look like you're lost
            </h3>
            <p>the page you are looking for not avaible!</p>
            <a href="../templates/base.html" class="link_404">Go to SSTS</a>
        </div>
    </section>

</body>