<!DOCTYPE html>
<html style="background-image: linear-gradient(#005678, #146488, #005678);">
    <head>
        <title>SSTS - {{page_name}}</title>
        <style>
          @import url("../static/styles.css");
        </style>
        <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    </head>
    <body>
      <div class="mainPage">
        <header style="padding: 0.5rem;">
          <h2><a href="/" style="text-decoration: none; color: #FFD700; padding-left: 25px">Super Simple Ticketing System "SSTS"</a></h2>
        </header>
        <div class="menuBar">
          <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/about">About SSTS</a></li>
            <li><a href="/sp">Self Service Portal</a></li>
            <li><a href="/login">Agent Login</a></li>
            <li><a href="/">???</a></li>
            <li><a href="/">???</a></li>
          </ul>
        </div>
        <main>
          <h3 style="padding-left: 10px;">Homepage of Super Simple Ticketing System "SSTS"</h3>
          <p>I guess I'll see how long it can go or if there is anything really going on here. This is my version of some Lorem Ipsum Dolor type boilerplate text to see if anything happens.</p>
        </main>
        <div class="adBar">
          <a href="."><img src="../static/placeholder.png" alt="Placeholder" width=250 height=300></a>
          <br>
          <body style="color: #FF2A6D">Third side bar, will continue to go off 80 characters here...</body>
        </div>
        <footer style="color: #FFD700;">
          Copyright Super Simple Ticketing System Team (SSTS) 2024
        </footer>
      </div>
    </body>
</html>