{% extends "sidebar.html" %}

{% block content %}

    <div class="container">
        <h1>Create a new Issue</h1>
        <form action="">
            <div class="form-group">
                <label for="issueType">Issue Type</label>
                <select name="issueType" id="issueType">
                    <option value="ticket">Ticket</option>
                    <option value="Call">Call</option>
                </select>
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" placeholder="Enter a title for the issue">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" cols="30" rows="10"
                    placeholder="Describe issue in detail"></textarea>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="tel" name="phoneNumber" id="phoneNumber"
                    placeholder="Enter customer's phone number">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter customers email address">
            </div>
            <button type="submit">Create</button>
        </form>
    </div>

{% endblock %}