
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{page_name}}</title>
    <link rel="stylesheet" href='../static/css/sidebar.css'>
    <link rel="stylesheet" href='../static/css/home.css'>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
</head>

</html>

<body>
    <div class="sidebar close">
        <div class="logo-details">
            <a href="{{ url_for('homepage') }}"><i class='bx bxl-ok-ru'></i></a>
            <span class="logo_name">SSTS</span>
        </div>
        <ul class="nav-links">

            <li>
                <a href=" {{ url_for('homepage') }} ">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Dashboard</a></li>
                </ul>
            </li>

            <li>
                <a href=" {{ url_for('new_ticket') }} ">
                    <i class='bx bx-edit-alt'></i>
                    <span class="link_name">Create issue</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Create issue</a></li>
                </ul>
            </li>

            <li>
                <a href=" {{ url_for('view_call_list') }} ">
                    <i class='bx bx-phone'></i>
                    <span class="link_name">Call</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Call</a></li>
                </ul>
            </li>

            <li>
                <a href=" {{ url_for('view_ticket_list') }} ">
                    <i class='bx bx-book-open'></i>
                    <span class="link_name">Ticket</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Ticket</a></li>
                </ul>
            </li>


            <li>
                <a href=" {{ url_for('knowledgebase')}} ">
                    <i class='bx bx-brain'></i>
                    <span class="link_name">Knowledge Base</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Knowledge Base</a></li>
                </ul>
            </li>

            <li>
                <a href=" {{ url_for('setting') }} ">
                    <i class='bx bx-cog'></i>
                    <span class="link_name">Setting</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Setting</a></li>
                </ul>
            </li>

            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <!--<img src="image/profile.jpg" alt="profileImg">-->
                    </div>
                    <div class="name-job">
                        <div class="profile_name">Dallon Jarman</div>
                    </div>
                    <a href=" {{ url_for('agent_login_page') }} ">
                        <i class='bx bx-log-out'></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
        </div>

        {% block content %}{% endblock %}

    </section>

    <script src="../static/js/sidebar.js"></script>
    {% block scripts %}{% endblock %}

</body>

</html>
